@model WebApplication.Models.GameListModel


<table class="highlight">
    <tbody>
    @foreach (var game in Model.Games.List)
    {
        <tr>
            <td>
                @(game.DateTime.Date != DateTime.Today ? game.DateTime.ToShortDateString() : "")
                @game.DateTime.ToShortTimeString()
            </td>
            <td>@game.Map.Name</td>
            <td>@game.Type.ToString()</td>
            <td class="hero-list valign-wrapper">
                <span>
                    @foreach (var hero in game.Heroes.OrderBy(h => h.Name).ToList())
                    {
                        <img class="small-hero tooltipped" data-position="bottom" data-tooltip="@hero.Name" src="@hero.ImageUrl" alt="@hero.Name">
                    }
                </span>
            </td>
            <td class="green-text">
                @game.AllieScore
            </td>
            <td class="red-text">
                @game.EnemyScore
            </td>
            <td class="amber-text">
                @game.Sr
            </td>
            <td>
                @foreach (var squadMember in game.SquadMembers.OrderBy(s => s.Name).ToList())
                {
                    <span>@squadMember.Name</span>
                }
            </td>
            @{ var delta = Model.SrEvolution.DeltaLastGame(game); }
            <td class="right-align@(delta is null ? "" : delta > 0 ? " green-text" : delta < 0 ? " red-text" : " amber-text")">
                @delta
            </td>
            <td>
                <a class="btn btn-flat tooltipped" data-position="bottom" data-tooltip="Edit" href="@Url.ActionLink("Edit", "Game", new {game.Id})">
                    <i class="material-icons">edit</i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>